<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a
        class="nav-link text-light"
        routerLink=""
        routerLinkActive="text-decoration-underline"
        [routerLinkActiveOptions]="{
          exact: true
        }"
      >
        Home Page
      </a>
      <a
        class="nav-link text-light"
        routerLink="trending"
        routerLinkActive="text-decoration-underline"
      >
        Trending Page
      </a>
      <a
        class="nav-link text-light"
        routerLink="ciclos"
        routerLinkActive="text-decoration-underline"
      >
        Ciclos Page
      </a>
    </div>
  </div>
</nav>
