<div class="p-3">
  <h3>ciclos-page works!</h3>
  <button (click)="isProductVisible = !isProductVisible">
    Toggle Price component
  </button>
  <button (click)="increasePrice()">+1 Price</button>
</div>

@if (isProductVisible) {
<ciclos-price [price]="currentPrice">
  <h6>Listado de saludos:</h6>
  <ul>
    @for (saludo of saludos; track $index) {
    <li>
      {{ saludo }}
    </li>
    }
  </ul>
</ciclos-price>
} @else { no se cumple }

<ciclos-price *ngIf="isProductVisible" [price]="currentPrice">
  <h6>Listado de saludos:</h6>
  <ul *ngFor="let saludo of saludos">
    <li>
      {{ saludo }}
    </li>
  </ul>
</ciclos-price>
